@using WebApplication3.Models;
@model List<Employe>
@{
    ViewData["Title"] = "User Dashboard";
}

<div class="container mt-4">
    <h2>User Dashboard</h2>

    <div class="mb-3">
        <a asp-action="List" asp-controller="Employes" class="btn btn-primary">Employee List</a>
    </div>
</div>