@{
    ViewData["Title"] = "Preprocess Data";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Preprocess Data</h2>
    <form asp-action="PreprocessData" asp-controller="ML" method="post">
        <button type="submit" class="btn btn-primary w-100">Preprocess Data</button>
    </form>
</div>
